<div id="detectorHeader" class="row">
    <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6 text-center">   
        <h3>Welcome to <br> Disease Detector</h3>
        <p>find your symptom and click on + sign to <br>
        learn more and explore the solution. </p>
    </div>
    
    <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6 text-center">   
        <h4>Not Satisfied with<br> the Answer?</h4>
        <a href="#" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Ask a Doctor</a>
    </div>
</div> <!--end of header-->

<h3>What do you think you have?</h3>